@model CITIwebApp.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehiculoId" class="control-label">Placa del Vehiculo</label>
                <select asp-for="VehiculoId" class ="form-control" asp-items="ViewBag.VehiculoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Nombre del Cliente</label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if(TempData["VentaRegistrado"]!=null)
        {
            <div class"alert alert-success">@TempData["VentaRegistrado"]</div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

